body{
    text-decoration: none;
    color: inherit;
}

.App{
    text-align: center;
    margin: 10px 0;
    position: relative;
}
.page_header{
    font-size: 1.6rem !important;
}
.page_header a{
    font-size: 1.2rem !important;
    text-decoration: none;
    color:rgb(0,0,0);
    text-transform: capitalize;
    border-bottom: 1px solid salmon;
}
.form {
    display: flex !important;
    padding: 20px;
    background-color: #e9e9eb;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
}
.form_control{
    flex:1 !important;
}
.form_send{
    flex: 0 !important;
}
.m_icon{
    height: 100px;
    width: 100px;
}
.app_msg{
    margin-bottom: 90px;
}